@{
  Layout = "_Layout";
}

<h1 class="display-4">Employees <small class="text-muted"> and their clients site </small></h1> 
<h3 class="mt-4">@Html.ActionLink("See all employees", "Index", "Employees")</h3> 
<h3 class="mt-2">@Html.ActionLink("See all clients", "Index", "Clients")</h3>